<div id="wrapper" class="wrapper">
    <!-- Navigation Links -->
    <nav id="nav-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Hot Topics</a></li>
            <li><a href="#">Flash News</a></li>
            <li><a href="#">Trending</a></li>
        </ul>
    </nav>

    <!-- Main Content Area -->
    <div id="main-contents">

        <h1>Heading One</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
        <h2>Heading Two</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
        <h3>Heading Three</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
    </div>
    <div id="main-contents">

        <h1>Heading One</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
        <h2>Heading Two</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
        <h3>Heading Three</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, voluptatem pariatur porro optio voluptas
            facilis minus accusantium asperiores rem? Laudantium ea corporis perferendis exercitationem distinctio
            laborum maiores possimus qui repellat a, provident vitae, nobis veritatis modi illum! Aliquam, at modi.</p>
    </div>
</div>