<footer class="footer">
    <div class="footer__container">
        <div class="footer__grid">
            <div class="footer__item"><img class="footer__logo" src="/assets/images/logo.png" alt="AML Logo">
            </div>
            <div class="footer__item"> <a class="footer__link" href="#">Aviso de privacidad </a><span
                    class="footer__span">MLSoftware © 2020 Todos los derechos reservados.</span></div>
            <div class="footer__item">
                <div class="footer__item-grid"><a class="footer__button" href="#"><img class="footer__image"
                            src="/assets/images/whatsapp.png" alt="WhatsApp"></a><a class="footer__button"
                        href="https://www.facebook.com/ml.software99/?ref=notif&notif_t=page_name_change_admin"><img
                            class="footer__image" src="/assets/images/facebook.png" alt="Facebook"></a><a
                        class="footer__button" href="https://www.instagram.com/ml.software/"><img class="footer__image"
                            src="/assets/images/instagram.png" alt="Instagram"></a><a class="footer__button"
                        href="https://twitter.com/MLSoftware99"><img class="footer__image"
                            src="/assets/images/twitter.png" alt="Twitter"></a>
                </div>
            </div>
        </div>
    </div>
</footer>