<div class="login">
    <div class="login__container">
        <div class="login__item">
            <img src="/assets/images/logo-white.png" alt="Logo" class="login__logo">
            <form action="" class="login__form">
                <span class="login__span">Usuario:</span>
                <input type="text" class="login__input">
                <span class="login__span">Contraseña:</span>
                <input type="password" class="login__input">
            </form>
            <button class="login__button">Iniciar sesion</button>
        </div>
    </div>
</div>