<app-navbar></app-navbar>
<section class="hero-contacto">
    <div class="hero-contacto__container">
        <div class="hero-contacto__content hvr-pulse">
            <h1 class="hero-contacto__title">Contactanos</h1>
            <img src="/assets/images/contacto-icon.png" alt="Contacto icon" class="hero-contacto__icon">
        </div>
    </div>
</section>
<section class="contacto">
    <div class="contacto__container">
        <div class="contacto__grid">
            <div class="contacto__card" data-aos="flip-left">
                <div class="contacto__content">
                    <img src="/assets/images/email-icon.png" alt="Email Icon" class="contacto__icon">
                    <h2 class="contacto__title">Correo</h2>
                    <a href="mailto:ml-software@gmail.com" class="contacto__info">ml-software@gmail.com</a>
                </div>
            </div>
            <div class="contacto__card" data-aos="flip-left">
                <div class="contacto__content">
                    <img src="/assets/images/direccion-icon.png" alt="Direccion Icon" class="contacto__icon">
                    <h2 class="contacto__title">Direccion</h2>
                    <a href="https://goo.gl/maps/keCapnay9NsyXt1H7" class="contacto__info">Independencia 4, Primera
                        Secc, 75960 San Sebastián Zinacatepec,
                        Pue.</a>
                </div>
            </div>
            <div class="contacto__card" data-aos="flip-left">
                <div class="contacto__content">
                    <img src="/assets/images/telefono-icon.png" alt="Telefono Icon" class="contacto__icon">
                    <h2 class="contacto__title">Telefono</h2>
                    <a href="tel: 236 109 8399" class="contacto__info">236-109-8399</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <div class="contact__container">
        <h1 class="contact__title">¡Logra tus objetivos con nosotros!</h1>
        <div class="contact__form" data-aos="zoom-in">
            <form class="contact__formulario" id="contactForm">
                <div class="contact__item">
                    <label class="contact__label">Nombre completo: </label>
                    <input class="contact__input" type="text" id="contactName" name="contactName" required>
                </div>
                <div class="contact__item">
                    <label class="contact__label">Email: </label>
                    <input class="contact__input" type="text" id="contactEmail" name="contactEmail" required>
                </div>
                <div class="contact__item">
                    <label class="contact__label">Telefono: </label>
                    <input class="contact__input" type="text" id="contactPhone" name="contactPhone" required>
                </div>
                <div class="contact__item">
                    <label class="contact__label">Servicio de interes: </label>
                    <select name="" id="" class="contact__input" id="contactService" name="contactService" required>
                        <option value="" class="contact__option"></option>
                        <option value="" class="contact__option">Desarrollo web</option>
                        <option value="" class="contact__option">Desarrollo movil</option>
                        <option value="" class="contact__option">Aplicaciones de escritorio</option>
                        <option value="" class="contact__option">Marketing digital</option>
                        <option value="" class="contact__option">Mas de uno</option>
                    </select>
                </div>
            </form>
            <button class="contact__button hvr-grow-shadow" type="submit">Enviar</button>
        </div>
    </div>
</section>
<app-footer></app-footer>