<app-navbar></app-navbar>
<section class="hero-portafolio">
    <div class="hero-portafolio__container">
        <div class="hero-portafolio__content hvr-pulse">
            <h1 class="hero-portafolio__title">Conoce nuestro portafolio</h1>
            <img src="/assets/images/portafolio-icon.png" alt="Conocenos icon" class="hero-portafolio__icon">
        </div>
    </div>
</section>
<section class="portafolio">
    <div class="portafolio__container">
        <div class="portafolio__item">
            <img src="/assets/images/portafolio-image.png" alt="Portafolio Image" class="portafolio__image"
                data-aos="flip-left">
            <div class="portafolio__content" data-aos="zoom-in">
                <h2 class="portafolio__title">Titulo</h2>
                <p class="portafolio__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                    placeat rem dolor ducimus nesciunt, odit, ab quis aut quos perferendis totam voluptatum maxime eum
                    veritatis obcaecati doloribus sit iste. Iste.</p>
                <a href="" class="portafolio__button">Ver sitio</a>
            </div>
        </div>
        <div class="portafolio__item">
            <img src="/assets/images/portafolio-image.png" alt="Portafolio Image" class="portafolio__image"
                data-aos="flip-left">
            <div class="portafolio__content" data-aos="zoom-in">
                <h2 class="portafolio__title">Titulo</h2>
                <p class="portafolio__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                    placeat rem dolor ducimus nesciunt, odit, ab quis aut quos perferendis totam voluptatum maxime eum
                    veritatis obcaecati doloribus sit iste. Iste.</p>
                <a href="" class="portafolio__button">Ver sitio</a>
            </div>
        </div>
        <div class="portafolio__item">
            <img src="/assets/images/portafolio-image.png" alt="Portafolio Image" class="portafolio__image"
                data-aos="flip-left">
            <div class="portafolio__content" data-aos="zoom-in">
                <h2 class="portafolio__title">Titulo</h2>
                <p class="portafolio__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                    placeat rem dolor ducimus nesciunt, odit, ab quis aut quos perferendis totam voluptatum maxime eum
                    veritatis obcaecati doloribus sit iste. Iste.</p>
                <a href="" class="portafolio__button">Ver sitio</a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>