<section class="hero-somos">
    <div class="hero-somos__container">
        <div class="hero-somos__content hvr-pulse">
            <h1 class="hero-somos__title">Conócenos</h1>
            <img src="/assets/images/conocenos-icon.png" alt="Conocenos icon" class="hero-somos__icon">
        </div>
    </div>
</section>
<section class="somos">
    <div class="somos__container">
        <img src="/assets/images/nosotros-image.png" alt="Nosotros image" class="somos__image">
        <div class="somos__item" data-aos="zoom-in">
            <h2 class="somos__title hvr-pulse">
                Nosotros
            </h2>
            <p class="somos__content">
                Somos un emprendimiento orientado a generar soluciones de TI, formada por un grupo de jovenes
                profesionales, emprendedores y entusiastas.
                Nos destacamos por ofrecer proyectos de calidad a nuestros clientes.
            </p>
            <img src="/assets/images/nosotros.png" alt="Nosotros Icon" class="somos__icon">
        </div>
    </div>
    <div class="somos__container">
        <img src="/assets/images/mision-image.png" alt="Mision image" class="somos__image">
        <div class="somos__item" data-aos="zoom-in">
            <h2 class="somos__title-white hvr-pulse">Mision</h2>
            <p class="somos__content-white">
                Desarollamos proyectos de calidad, adaptandonos a las necesidades de nuestros clientes.
                El requisito primordial de todo proyecto desarrollado en MLSoftware es la excelencia y el brindar un
                buen
                servicio al cliente.
            </p>
            <img src="/assets/images/mision-icon.png" alt="Mision icon" class="somos__icon">
        </div>
    </div>
    <div class="somos__container">
        <img src="/assets/images/vision-image.png" alt="Vision image" class="somos__image">
        <div class="somos__item" data-aos="zoom-in">
            <h2 class="somos__title hvr-pulse">Vision</h2>
            <p class="somos__content">
                Ser una empresa reconocida por los distintos sectores del mundo, debido a la calidad e innovacion
                de nuestros proyectos y convertirnos en la principal referencia de las soluciones TI.
            </p>
            <img src="/assets/images/vision-icon.png" alt="Vision icon" class="somos__icon">
        </div>
    </div>
    <div class="somos__container">
        <img src="/assets/images/valores-image.png" alt="Valor image" class="somos__image-valor">
        <div class="somos__item" data-aos="zoom-in">
            <h2 class="somos__title-white hvr-pulse">Valores</h2>
            <div class="somos__item-valor">
                <div class="somos__valor">
                    <span class="somos__span">Pasion</span>
                    <img src="/assets/images/pasion-icon.png" alt="Valor Icon" class="somos__icon-valor">
                </div>
                <div class="somos__valor">
                    <span class="somos__span">Calidad</span>
                    <img src="/assets/images/calidad-icon.png" alt="Valor Icon" class="somos__icon-valor">
                </div>
                <div class="somos__valor">
                    <span class="somos__span">Responsabilidad</span>
                    <img src="/assets/images/responsabilidad-icon.png" alt="Valor Icon" class="somos__icon-valor">
                </div>
                <div class="somos__valor">
                    <span class="somos__span">Liderazgo</span>
                    <img src="/assets/images/liderazgo-icon.png" alt="Valor Icon" class="somos__icon-valor">
                </div>
                <div class="somos__valor">
                    <span class="somos__span">Compromiso</span>
                    <img src="/assets/images/compromiso-icon.png" alt="Valor Icon" class="somos__icon-valor">
                </div>
            </div>
        </div>

    </div>
</section>