<app-navbar-admin></app-navbar-admin>

<section class="hero-dashboard">
    <div class="hero-dashboard__container">
        <div class="hero-dashboard__content hvr-pulse">
            <h1 class="hero-dashboard__title">Bienvenido Admin!</h1>
            <img src="/assets/images/user.png" alt="User icon" class="hero-dashboard__icon">
        </div>
    </div>
</section>

<section class="info">
    <div class="info__container">
        <div class="info__grid">
            <div class="info__card" data-aos="flip-left">
                <div class="info__content">
                    <img src="/assets/images/clientes.png" alt="Clientes Icon" class="info__icon">
                    <h2 class="contacto__title">Posibles Clientes</h2>
                    <span class="info__info">20</span>
                </div>
            </div>
            <div class="info__card" data-aos="flip-left">
                <div class="info__content">
                    <img src="/assets/images/portafolio.png" alt="Portafolio Icon" class="info__icon">
                    <h2 class="contacto__title">Proyectos Realizados</h2>
                    <span class="info__info">10</span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>