<header class="header">
    <div class="header__container l-container"><a class="logo" href="/"><img class="logo__image"
                src="/assets/images/logo.png" alt="AMSoftware Logo"></a>
        <div class="hamburger" id="hamburger">
            <div class="hamburger__body"></div>
        </div>
        <nav class="nav" id="menu">
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" routerLink="/inicio">Inicio</a></li>
                <li class="menu__item"><a class="menu__link" routerLink="/quienes-somos">¿Quienes Somos?</a></li>
                <li class="menu__item"><a class="menu__link" routerLink="/portafolio">Portafolio</a></li>
                <li class="menu__item"><a class="menu__link" routerLink="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>